body{
  background-color: #BD8E38;
}

.poster-container{
  display: flex;
  justify-content: center;
}

.image-zoo{
  justify-content: center;
  position: fixed;
  z-index: 3;
}

.image-yellow{
  position: absolute;
  left: 92px;
  justify-content: flex-start;
}

.image-black{
  position: absolute;
  right: 0px;
  justify-content: flex-end;
}